<html>
    <%-include('partials/head.html');%>

<body background="img/fondo.png">
    <header>
		<img src="img/logo.png"></a>
        <%-include('partials/navegacion.html');%>
    </header>

    <div class="container">
        <section id="seccion">
			<h2 align="center">Inflables</h2>
			<div class="acomodo">
				<section id="p1">
					<div>
						<img src="img/fpb.png" id="img1">
						<b><p>Flotador para bebé</p></b>
						<b><p>$300.00</p></b>
					</div>
					<div>
						<b></b><img src="img/ifp.png" id="img1">
						<b><p>Inflable Flotante de Palmera</p></b>
						<b><p>$370.00</p></b>
					</div>
					<div>
						<b></b><img src="img/inflableazul.png" id="img1">
						<b><p>Piscina Inflabe Azul</p></b>
						<b><p>$400.00</p></b>
					</div>
				</section>
				<section id="p2">
					<div>
						<b></b><img src="img/sra.png" id="img2">
						<b><p>Salvavidas Redondo Azul</p></b>
						<b><p>$500.00</p></b>
					</div>
					<div>
						<br>
						<b></b><img src="img/srf2.png" id="img2">
						<b><p>Salvavida redondo de flamenco</p></b>
						<b><p>$390.00</p></b>
					</div>
					<div>
						<b></b><img src="img/srs.png" id="img2">
						<b><p>Salvavidas redondo de sandia</p></b>
						<b><p>$480.00</p></b>
					</div>
				</section>
				<section id="p3">
					<div>
						<img src="img/cifc.png" id="img3">
						<b><p>Piscina Inflabe Azul</p></b>
						<b><p">$300.00</p></b>
					</div>
					<div>
						<b></b><img src="img/sp.png" id="img3">
						<b><p>Salvavida de Paleta</p></b>
						<b><p>$530.00</p></b>
					</div>					
					<div>
						<b></b><img src="img/tiap.png" id="img3">
						<b><p>Tubos Inflabes Aislados de Playa</p></b>
						<b><p>$320.00</p></b>
					</div>	
				</section>
			</div>
        </section>
    </div>
    <%-include('partials/footer.html');%>

</body>
</html>