<html>
    <%-include('partials/head.html');%>

<body background="img/fondo.png">
    <header>
		<img src="img/logo.png"></a>
        <%-include('partials/navegacion.html');%>
    </header>

    <div class="container">
        <section id="seccion">
			<h2 align="center">Toallas de baño</h2>
			<div class="acomodo">
				<section id="p1">
					<div>
						<img src="img/tba.png" id="img1">
						<b><p>Toalla azul</p></b>
						<b><p>$240.00</p></b>
					</div>
					<div>
						<b></b><img src="img/tbcs.png" id="img1">
						<b><p>Toalla cola de sirena</p></b>
						<b><p>$160.00</p></b>
					</div>
					<div>
						<b></b><img src="img/tbr.png" id="img1">
						<b><p>Toalla de rayas</p></b>
						<b><p>$140.00</p></b>
					</div>
				</section>
				<section id="p2">
					<div>
						<b></b><img src="img/tbafg.png" id="img2">
						<b><p>Toalla azul con flores gris</p></b>
						<b><p>$200.00</p></b>
					</div>
					<div>
						<br>
						<b></b><img src="img/tbe.png" id="img2">
						<b><p>Toalla con estampado de sandia</p></b>
						<b><p>$300.00</p></b>
					</div>
					<div>
						<b></b><img src="img/tbr2.png" id="img2">
						<b><p>Toalla de rayas</p></b>
						<b><p>$270.00</p></b>
					</div>
				</section>
				<section id="p3">
					<div>
						<img src="img/tbc.png" id="img3">
						<b><p>Toalla combinada</p></b>
						<b><p">$150.00</p></b>
					</div>
					<div>
						<b></b><img src="img/tbem.png" id="img3">
						<b><p>Toalla con estampado de mar</p></b>
						<b><p>$200.00</p></b>
					</div>					
					<div>
						<b></b><img src="img/tbt.png" id="img3">
						<b><p>Toalla tiburones</p></b>
						<b><p>$300.00</p></b>
					</div>	
				</section>
			</div>
        </section>
    </div>
    <%-include('partials/footer.html');%>

</body>
</html>