<html>
<body>
    <ul class="nav" id="barra">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categoria1">Toallas de Baño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categoria2">Flotador para bebés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categoria3">Accesorios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categoria4">Trajes de Baño</a>
        </li>
      </ul>
</body>
</html>